<table ngbTable class="table">
    <thead class="thead-dark">
        <tr>
            <th>Equipment Name</th>
            <th>Serial Number</th>
            <th>Model</th>
            <th>Device Type</th>
            <th>Calibration Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let equipment of equipments" ngbTr>
            <td>{{ equipment.equipmentName }}</td>
            <td>{{ equipment.serialNumber }}</td>
            <td>{{ equipment.model }}</td>
            <td>{{ equipment.deviceType}}</td>
            <td>{{ equipment.calibrationDate}}</td>
        </tr>
    </tbody>
</table>